@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&family=Monoton&family=Montserrat:wght@100..900&family=Playball&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    scroll-behavior: smooth;
    font-family: "Poppins", sans-serif ;
}

:root{
    --primary-color: #2A7D2E;
    --secondary-color: #E62A65;
    --text-color: #111111;
    --light-text: #666;
    --black-color:#000;
    --white-color:#fff;

    --lora-font: "Lora", serif;
    --playball-font: "Playball", cursive;
    --roboto-font: "Roboto", sans-serif;

    --transition-regular: .3s;
    --transition-slow: .6s;
}

html,
body{
    overflow-x: hidden;
}

.btn{
    background-color: var(--primary-color);
    color: var(--white-color) !important;
    width: 150px !important;
    padding: 12px !important;
    margin: 0;
}

/* nav */

.nav{
    padding: 0px 8% !important;
}

.logo a{
    font-family: var(--playball-font);
    font-size: 2.5rem;
    font-weight: 700 !important;
    color: var(--black-color);
}

.logo a span{
    font-family: var(--playball-font);
    color: var(--primary-color);
}

.navbar-expand-lg .navbar-collapse{
    justify-content: flex-end;
}

.menu .nav-item a{
    font-size: 1.2rem;
    font-family: var(--roboto-font);
    font-weight: 600;
    transition: var(--transition-regular);
    text-decoration:  none !important;
    position: relative;
    color: var(--light-text);
}

.menu .nav-item a::after{
    content: '';
    position: absolute;
    top: 100%;
    left: 0;
    width: 0;
    height: 2px;
    background-color: var(--primary-color);
    transition: var(--transition-regular);
}

.menu .nav-item a:hover{
    color: var(--primary-color) !important;
}

.menu .nav-item a:hover::after{
    width: 100%;
}

.nav-icons{
    position: relative;
}

.nav-icons::after{
    content: '';
    position: absolute;
    top: 0;
    left: -18%;
    width: 1.5px;
    height: 25px;
    background-color: #c5c4c4;
}

.nav-icons i{
    font-size: 1.3rem;
    color: var(--black-color);
    transition: var(--transition-regular);
}

.nav-icons i:hover{
    color: var(--primary-color) !important;
    cursor: pointer;
}

.wishlist-count,
.cart-count{
    top: -10%;
    right: -50%;
    background-color: var(--primary-color);
    color: var(--white-color);
    border-radius: 100%;
    height: 15px !important;
    width: 15px !important;
    padding: 10px 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 13px;
}

/* signup modal */

.sign-up-title,
.search-title{
    font-family: var(--lora-font);
    font-size: 1.5rem ;
}

.btn-signup{
    background-color: var(--primary-color) !important;
    width: 100% !important;
}

.btn-signup:hover{
    background-color: var(--light-text) !important;
}

.terms a{
    color: var(--primary-color) !important;
}

.close-modal{
    position: absolute;
    top: 5% !important;
    right: 5% !important;
}

.search-close{
    top: 25px !important;
}

/* hero section */

.hero{
    margin-top: 70px;
 }
.hero-wrap{
    height: 90vh;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    transition: transform 1.2s ease-in-out;
    animation: zoomFade 8s infinite ease-in-out;
}

@keyframes zoomFade {
  0% {
    transform: scale(1);
    opacity: 1;
  }
  50% {
    transform: scale(1.05);
    opacity: 0.95;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}
.hero-wrap1{
    background-image: url(assets/main-banner-1.jpg);
    transition: opacity 1s ease-in-out;
}

.hero-wrap2{
    background-image: url(assets/main-banner-2.jpg);
    transition: opacity 1s ease-in-out;
}
.hero-content{
    top: 50%;
    left: 72%;
    transform: translate(-50%, -50%); 
}


.hero-content h3{
    font-family: var(--playball-font);
    color: var(--primary-color);
    opacity: 0;
    animation: anim-top .6s 0.3s forwards linear;
}

.hero-content h1{
    /* font-size: 3.5rem; */
    font-family: var(--lora-font);
    opacity: 0;
    animation: anim-top .6s 0.6s forwards linear;
}

.hero-content p{
    font-size: 16px;
    font-family: var(--roboto-font);
    opacity: 0;
    animation: anim-top .6s 0.9s forwards linear;
} 

.hero-btn{
    opacity: 0;
    animation: anim-top .6s 1.3s forwards linear;
}

.btn:hover{
    background-color: var(--black-color) !important;
    color: var(--white-color) !important;
}



.swiper-button-prev:after,
.swiper-button-next:after{
    display: none !important;
}

.swiper-btn{
    position: absolute;
    top: 50%;
    left: 95%;
    transform: translate(-50%,-50%);
    z-index: 1000;
    width: 50px !important;
    height: 50px !important;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(131, 131, 131, 0.5) !important;
    border-radius: 100% !important;
    color: var(--white-color) !important;
    font-size: 1.5rem; 
    transition: var(--transition-regular) !important;
}

.swiper-btn:hover{
    background-color: var(--primary-color) !important;
    cursor: pointer;
}

.swiper-prev{
    left: 5% !important;
} 


/* hero animation */
@keyframes anim-top {
    0%{transform: translateY(500px); opacity: 0;}
    100%{transform: translateY(0px); opacity: 1;}
}

/* service section */

.section-title h2{
    font-family: var(--playball-font);
    color: var(--primary-color);
}

.section-title h1{
    font-family: var(--lora-font);
}

.service-img{
    width: 130px;
    height: 130px;
    background-color: #f5f5f5;
    padding: 25px;
    border-radius: 100%;
    position: relative;
    transition: var(--transition-regular);
}

.service-img img{
    width: 100%;
    height: 100%;
    transition: var(--transition-regular);
}

.service-img:hover img{
    opacity: 0;
}

.service-img:after{
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 55%;
    height: 55%;
    background-image: url(assets/service-icon1-1.svg);
    background-position: center center; 
    background-repeat: no-repeat;
    opacity: 0;
    transition: var(--transition-regular);
}

.service-img:hover:after{
    opacity: 1;
}

.service-img:hover{
    background-color: var(--primary-color);
    cursor: pointer;
}

.service-img2:after{
    background-image: url(assets/service-icon2-2.svg);
}
.service-img3:after{
    background-image: url(assets/service-icon3-3.svg);
}
.service-img4:after{
    background-image: url(assets/service-icon4-4.svg);
}

.service-box-info h3{
    font-size: 1.5rem;
    font-family: var(--lora-font);
}

.service-box-info p{
    font-size: 15px;
}

/* banner section */

.banner-content{
    width: 70%;
    top: 50%;
    left: 86%;
    transform: translate(-50%, -50%);
    z-index: 5;
}

.banner-content h3{
    font-family: var(--playball-font);
    font-size: 1.5rem;
}

.banner-content h1{
    font-family: var(--lora-font);
    font-size: 1.7rem;
}

.banner-content2{
    left: 90%;
}

.banner-img{
    overflow: hidden;
    transition: var(--transition-slow);
}

.banner-img:hover{
    transform: scale(1.02);
}

/* product section */
.swiper{
    width: 100%;
}
.product-img-container{
    position: relative;
    overflow: hidden;
}

.product-img{
    width: 100%;
    display: block;
    transition: opacity 0.4s ease-in-out;
}

.hover-img{
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    transition: opacity 0.4s ease-in-out;
}

.product-img-container:hover .hover-img{
    opacity: 1;
}
.product-img-container:hover .main-img{
    opacity: 0;
}

.product-option{
    top: 5% !important;
    right: -50% !important;
    transition: var(--transition-regular);
}

.product-option i{
    width: 40px !important;
    height: 40px !important;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--white-color);
    color: var(--black-color);
    border-radius: 100%;
    box-shadow: 0 0 5px rgba(131, 131, 131, 0.2);
    transition: var(--transition-regular);
}

.product-option i:hover{
    background-color: var(--primary-color);
    color: var(--white-color);
    cursor: pointer;
}

.product-card:hover .product-option{
    right: 5% !important;
}

.add-cart-btn{
    top: 90%;
    left: 50%;
    opacity: 0;
    transform: translate(-50%, -50%);
    width: 90% !important;
    font-size: 1.2rem;
    transition: var(--transition-regular);
}

.product-card:hover .add-cart-btn{
    opacity: 1;
}

.product-info h5{
    font-family: var(--lora-font) !important;
    font-size: 1rem !important;
    font-weight: 400 !important;
}

.product-info span{
    font-family: var(--roboto-font);
    font-size: 1.2rem;
    margin: 3px;
}

.product-swiper-btn{
    position: absolute;
    top: 60% !important;
    left: 102% !important;
    transform: translate(-50%, -50%);
    width: 50px !important;
    height: 50px !important;
    border-radius: 100%;
    color: var(--black-color) !important;
    font-size: 1.5rem;
    background-color: #c5c4c4;
}

.product-swiper-prev{
    left: -2% !important;
}

.custom-z{
    z-index: 999 !important;
}

/* product popup */

.product-title{
    font-family: var(--lora-font);
    font-size: 1.7rem;
}

.btn-close{
    position: absolute;
    top: 0;
    right: 0;
    border: 1px solid rgba(131, 131, 131, 0.5);
    padding: 10px;
}

.product-des{
    color: var(--light-text);
    font-weight: 400;
}

/* about section */

.about-text{
    font-family: var(--lora-font);
    font-size: 1.1rem;
}

.about-title h2{
    font-size: 1.5rem;
}

.about-svg{
    width: 100px;
    height: 100px;
    background-color: #f5f5f5;
    padding: 20px;border-radius: 100%;
    position: relative;
    transition: var(--transition-regular);
}

.about-svg img{
    width: 100%;
    height: 100%;
}

.about-svg:hover img{
    opacity: 0;
}

.about-svg:after{
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 55px;
    height: 55px;
    background-image: url(assets/about-white-svg-1.svg);
    background-position: center center;
    background-repeat: no-repeat;
    opacity: 0;
    transition: var(--transition-regular);
}

.about-svg2:after{
    background-image: url(assets/about-white-svg-2.svg);
}

.about-svg2:after{
    background-image: url(assets/about-white-svg-3.svg);
}

.about-svg:hover:after{
    opacity: 1;
}

.about-svg:hover{
    background-color: var(--primary-color);
    cursor:  pointer !important;
}

/* parallax-banner */


.parallax-banner{
    background-attachment: fixed;
    background-image: url(assets/parallax-banner-1.jpg);
    height: 70vh;
}

.parallax-banner h2{
    font-size: 2rem;
}

.parallax-banner h1{
    font-size: 3.5rem;
}

.parallax-banner p{
    font-size: 1rem;
    width: 50%;
}

/* testimonial section */

.testimonial{
    background-color: #f5f5f5;
    background-image: url(assets/testimonials-bg-Copy.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 500px;
}

.testimonial-wrap{
    width: 50% !important;
}

.ri-double-quotes-l{
    font-size: 70px;
    color: var(--primary-color);
}

.testimonial h5{
    font-family: var(--lora-font);
}

.text-card img{
    border-radius: 50%;
    object-fit: cover;
    box-shadow: 2px 2px 2px 2px rgba(131, 131, 131, 0.5);
}

/* blog section */

.blog-card{
    cursor: pointer;
}

.blog-img{
    height: 300px;
}

.blog-img img{
    object-fit: cover;
    transition: var(--transition-regular);
    height: 100%;
    width: 100%;
}

.blog-img:hover img{
    transform: scale(1.1);
}

.blog-meta{
    color: var(--primary-color);
    font-size: 1rem;
    font-weight: 500;
    margin-bottom: 0.5rem;
}

.blog-meta .dot{
    margin: 0 0.4rem;
}

.blog-meta span{
    font-weight: 600;
}

.blog-title{
    font-size: 1.4rem;
    font-family: var(--lora-font);
    text-transform: uppercase;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    transition: var(--transition-regular);
}

.blog-title:hover{
    color: var(--primary-color);
}

.blog-des{
    font-size: 0.9rem;
    color: #c6757d;
    margin-bottom: 0.8rem;
}

.blog-btn{
    color: var(--black-color);
    text-decoration: none;
    text-transform: uppercase;
    transition: var(--transition-regular);
}

.blog-btn:hover{
    color: var(--primary-color);
}

.blog-swiper-btn{
    left: -3%;
}

.blog-button-next{
    left: 103% !important;
}

.blog-button-prev{
    left: -3% !important;
}

/* brand */
.brand-img img{
    transition: var(--transition-regular);
}

.brand-img:hover img{
    transform: scale(0.9) translateY(-10px);
    cursor: pointer;
}

/* footer */

.footer-bg{
    background-image: url(assets/footer-bg.jpeg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

.footer-logo a{
    color: rgb(255, 242, 0);
}

.footer-logo a span{
    color: var(--white-color);
}

.footer-social i{
    width: 20px;
    height: 20px;
    padding: 15px !important;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100%;
    background-color: var(--white-color);
    color: var(--black-color);
    transition: var(--transition-regular);
}

.footer-social i:hover{
    color: var(--white-color);
    background-color: var(--black-color);
    cursor: pointer;
}

.send-mail-icon{
    top: 50%;
    right: 0;
    transform: translate(-50%,-50%);
    color: var(--primary-color);
    font-size: 1.5rem;
}

.newsletter-wrap input{
    padding-left: 5% !important;
}

.input-group i:hover{
    color: var(--secondary-color);
    cursor: pointer;
}

.footer-bottom p a{
    color: var(--white-color);
    font-size: 1rem;
    font-weight: 600;
    letter-spacing: 1px;
}

.payment-img{
    text-align: end;
}



/* about page */

.page-section{
    background-color: #f5f5f5;
    padding: 20Px 0;
    margin-top: 89px !important;
}

.page-section h2{
    font-family: var(--lora-font);
    font-weight: 600;
}

.page-section a{
    text-decoration: none;
    color: var(--black-color);
}

.opportunities{
    background-color: #f2f2f2;
}

.opportunities-title h2{
    font-family: var(--lora-font);
    line-height: 2.5rem;
}

.accordion_header button{
    font-family: var(--roboto-font);
    font-size: 1.4rem;
}

.accordion_item{
    background-color: transparent;
    border: 0;
}

.about_card{
    padding: 30px 50px 30px 50px;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.05);
}

.about_card h5{
    font-family: var(--lora-font);
    font-size: 1.3rem;
}

.about_card p{
    font-size: 0.9rem;
}

.stats_section{
    background-image: url(assets/about-parallax.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    background-attachment: fixed;
}

.about_col h2{
    font-size: 4rem;
    font-weight: 500;
}

.about_col p{
    font-size: 1.1rem;
}

.contact_btn{
    width: auto;
    background-color: var(--primary-color);
    color: var(--white-color);
    text-decoration: none;
    height: 50px;
    cursor: pointer;
    font-weight: 500;
    transition: var(--transition-slow);
}

.contact_btn:hover{
    background-color: var(--black-color);
}